@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* Background Gradient Colors */
  --gradient1-start: #f2f2ff;
  --gradient1-end: #e9fcf9;
  --gradient2-start: #f9feff;
  --gradient2-end: #f1f5fe;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-cairo);
  --font-cairo: var(--font-cairo);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-cairo), Cairo, Tajawal, Inter, system-ui, sans-serif;
}

/* Radial Gradient Background Classes */
.bg-gradient-radial-1 {
  background: radial-gradient(
    circle,
    var(--gradient1-start) 0%,
    var(--gradient1-end) 100%
  );
}

.bg-gradient-radial-2 {
  background: radial-gradient(
    circle,
    var(--gradient2-start) 0%,
    var(--gradient2-end) 100%
  );
}

.dir-ltr {
  direction: ltr;
}
